@font-face{
    font-family: "Navidad";
    src: url("fonts/navidad-erjj-webfont.woff");
}
@font-face{
    font-family: "Navidad";
    src: url("fonts/navidad-erjj-webfont.woff2");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #d0eaee;
    font-family: "Navidad", sans-serif;
    color: rgb(43, 43, 43);;
}
.screen{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(166, 13, 13, 0.9);
    color: #fff;
    position: fixed;
    z-index: 2;
}
.screen div{
    margin: auto;
    h1{
        font-size: 5em;
        letter-spacing: .06em;
        margin-bottom: .5em;
    }
    p{
        font-size: 2em;
        letter-spacing: 0.027em;
        margin-bottom: 1em;
    }
    button {
        background-color: transparent;
        padding: .8em 1em;
        font-size: 1em;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: "Navidad", sans-serif;
        font-weight: 300;
        cursor: pointer;
        transition: background 300ms ease-in-out;
    }
    button:hover{
        background-color: #fff;
        color: rgb(166, 13, 13);
        font-weight: 400;
    }
}
#main{
    padding-top: 7%;
}
.game{
    display: flex;
    .records{
        width: 20%;
        padding: 0 2em;
        div{
            margin-bottom: 2em;
            h2{
                font-size: 1.85em;
            }
            p{
                font-size: 2em;
                margin-top: .5em;
            }
            ol{
                padding-top: .5em;
            }
            li{
                margin-left: 1em;
                font-size: 2em;
            }
        }
    }
    .left{
        text-align: end;
    }
    .gameBoard{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 58%;
        justify-content: center;
        perspective: 1000px;
        .card{
            width: 120px;
            height: 140px;
            margin: 5px;
            position: relative;
            border: 1px solid #000;
            border-radius: 5px;
            transform: scale(1);
            transform-style: preserve-3d;
            transition: transform .5s;
        }
        .card:active{
            transform: scale(.97);
            transition: transform .2s;
        }
        .card:hover{
            cursor: pointer;
        }
        .card.flip{
            transform: rotateY(180deg);
        }
        .card-front, .card-back{
            position: absolute;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        .card-front{
            transform: rotateY(180deg);
        }
    }
}
.hide{
    display: none;
}